body {
    font-family: 'Source Serif Pro', serif;
    background-color:#FEFEFA;
}
/*navbar menu*/
/* .navbar {
    background-color:#f5cea5;
} */



#site-name{
    color: #5d2412;
    font-size: 38px;
    padding-left:110px;

}

.nav-link {
   color: #5d2412 !important;
   font-size:25px;
   font-weight:bold;
   padding-left:5px;
}

/*About section*/
#about {
    padding:41px;
} 


.bio-image {
    width:700px;
    height:427px;
    padding-left: 125px;
}

figcaption{
    text-align:center;
}

#about-section {
    padding-left:41px;
    padding-top: 89px;
}

.char1{
    color: #5d2412;
    font-size:2.1em;
    font-weight:bold;
}

.about-title {
    color:black;
    font-weight:bold;
    font-size:29px;
}

.about-text {
    font-size: 17px;
}


/*social media icons*/
.fa-2x{
    color:  #5d2412;
    padding: 5px;
    font-size:2em;
}

.social-media {
    color:  #5d2412;
    text-decoration: none;
}

.social-media:hover {
    color:  #5d2412;
}


/*boyznthevoid section*/
 #boyznthevoid {
    background-color: #f5cea5;
    padding-top:15px;
    padding-bottom:15px;

}

.new-release {
    text-align:center;
}

.char2, .char3 {
    color:#5d2412;
    font-size:2.1em;
    font-weight:bold;
}

#book-summary {
    padding-left:77px;
}

.book-title{
    font-weight: bold !important;
    font-size:25px;
}

.question {
    font-weight: bold !important;
}

#book_info {
    padding-left: 138px;
}

.book-cover {
    height:449px;
    width:364px;
}

.release-date {
    font-size:15px;
}

.pre-order {
    text-decoration: none;
    color: #000000;
    font-size: 31px;
}

.pre-order:hover {
    color: #5d2412;
}

.arrow {
    border: solid #000000;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 9px;
}

 .right {
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
} 

#summary-cont {
    padding-left:1px;
}

/*reviews section*/
/* .reviews {
    font-size: 17px;

} */

#updated-review {
    /* padding-top:23px; */
    font-size:17px;
    background-color: #000000;
    color:#ffffff;
    padding:28px;
}

/*footer*/

.footer-section {
  background: #151414;
  position: relative;
  width:100%;
}

.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 15px;
  color: #FEFEFA;
}
.copyright-text p a{
  color: #FEFEFA;
}

#fa-icons {
    color:#ffffff;
}


/* footer {
    background-color: #000000;
    color: #FEFEFA;
} */

/*colorpalettefrombookcover
.color1 { color: #17181c}
.color2 { color: #191b0e}
.color3 { color: #ed832b}
.color4 { color: #e96f2c}
.color5 { color: #e7642e}
.color6 { color: #fff6af}
.color7 { color: #faef86}
.color8 { color: #471013}
.color9 { color: #b63329}
.color10 { color: #c2382d}
.color11 { color: #f7ccaa}
.color12 { color: #cc492b}
.color13 { color: #3c3334}
.color14 { color: #d76334}
.color15 { color: #1f170c}
.color16 { color: #262014}
.color17 { color: #30271e}
.color18 { color: #f6d9ad}
.color19 { color: #ffe5be}
.color20 { color: #362420}
.color21 { color: #8c3730}
.color22 { color: #e95c2e}
.color23 { color: #e04229}
.color24 { color: #d9322c}
.color25 { color: #efd3ac}
.color26 { color: #f3d7b0}
.color27 { color: #de3629}
.color28 { color: #1a1b16}
.color29 { color: #272113}
.color30 { color: #22241f}
.color31 { color: #0d1b1c}
.color32 { color: #ecd6b1}
.color33 { color: #ffe2bc}
.color34 { color: #1a1915}
.color35 { color: #952a24}
.color36 { color: #ee8532}
.color37 { color: #e1342e}
.color38 { color: #cb3c1a}
.color39 { color: #bf6c1e}
.color40 { color: #e18441}
.color41 { color: #f88e36}
.color42 { color: #e6382f}
.color43 { color: #1b1a16}
.color44 { color: #171611}
.color45 { color: #1d1c17}
.color46 { color: #b9322c}
.color47 { color: #e6e5e1}
.color48 { color: #dd2c32}
.color49 { color: #595451}
*/